@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Monaco';
    src: url('../fonts/monaco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Hide scrollbar while allowing scrolling */
html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
